<%= component "shared/card", class: "my-10" do %>
  <h2 class="ml-6"><%= t("comment.list") %></h2>
  <div class="overflow-auto">
    <%= component "shared/table/base" do %>
      <%= component "shared/table/header", headers: [
        "#",
        t("activerecord.attributes.artwork.image"),
        t("activerecord.attributes.artwork.title"),
        t("activerecord.attributes.user.display_name"),
        t("activerecord.attributes.comment.content"),
        ""
      ].compact %>
      <%= component "shared/table/body" do %>
        <% comments.each do |comment| %>
          <%
            user = comment.user
            artwork = comment.artwork
          %>
          <%= component "shared/table/row" do %>
            <%= component "shared/table/cell", is_header: true do %>
              <%= comment.id %>
            <% end %>
            <%= component "shared/table/cell" do %>
              <%= component "artwork/image", artwork: artwork, size: :xxs %>
            <% end %>
            <%= component "shared/table/cell" do %>
              <%= link_to artwork.title, admin_artwork_path(artwork), class: "font-bold text-blue-500 hover:underline" %>
            <% end %>
            <%= component "shared/table/cell" do %>
              <%= link_to user.display_name, admin_user_path(user.account_name), class: "font-bold text-blue-500 hover:underline" %>
            <% end %>
            <%= component "shared/table/cell" do %>
              <div class="truncate max-w-[24rem]">
                <%= comment.content %>
              </div>
            <% end %>
            <%= component "shared/table/cell" do %>
              <div class="grid place-items-center">
                <%= link_to admin_comment_path(comment), method: :delete, "data-confirm" => "Are you sure?", class: "w-8 h-8 grid place-items-center rounded-sm text-red-600 transition-colors hover:bg-red-100" do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= paginate comments %>
<% end %>