<div class="overflow-auto">
  <%= component "shared/table/base" do %>
    <%= component "shared/table/header", headers: [
      "#",
      t("activerecord.attributes.artwork.image"),
      t("activerecord.attributes.artwork.title"),
      t("activerecord.attributes.user.display_name"),
      t("activerecord.attributes.comment.content"),
      ""
    ].compact %>
    <%= component "shared/table/body" do %>
      <%= render partial: "admin/comments/table_row", collection: comments, as: :comment %>
    <% end %>
  <% end %>
</div>
<%= paginate comments %>
