<div>
  <%= tag.h2 t("user.followings"), class: "text-xl font-bold" %>
  <div class="flex items-center">
    <%= image_tag @user.get_profile_image, size: "32x32", class: "m-4 rounded-full shadow-xl" %>
    <div class="flex justify-center items-center">
      <%= tag.span @user.display_name, class: "text-sm font-bold text-gray-700 mr-1" %>
      <%= tag.span "@" + @user.account_name, class: "text-xs font-normal text-gray-400" %>
    </div>
  </div>
</div>

<div>
  <% if @followings.size == 0 %>
    <%= tag.p t("messages.user.relationships.no_followings"), class: "m-5 text-center text-gray-500 text-sm" %>
  <% else %>
    <%= render "public/users/list", users: @followings %>
  <% end %>
</div>
