<%= component "shared/card", class: "my-10 px-6" do %>
  <%= tag.h2 t("user.followers") %>
  <div class="flex items-center space-x-2">
    <%= component "user/avatar", user: @user, size: :sm %>
    <%= component "user/name_link", user: @user, size: :sm %>
  </div>
  <section class="py-6 px-2">
    <% if @followers.size > 0 %>
      <%= render "public/users/list", users: @followers %>
    <% else %>
      <%= tag.p t("messages.user.relationships.no_followers"), class: "m-5 text-center text-gray-500 text-sm" %>
    <% end %>
  </section>
<% end %>
