<div class="flex flex-col gap-4 lg:flex-row">
  <div class="flex justify-center mx-12">
    <div class="flex justify-center items-center">
      <%= component "artwork/image", artwork: artwork, size: :xxl %>
    </div>
  </div>
  <div class="overflow-auto grow">
    <%= component "shared/table/base" do %>
      <%= component "shared/table/body" do %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.artwork.title")
        ) do %>
          <%= artwork.title %>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.artwork.description")
        ) do %>
          <div class="whitespace-normal max-w-[32rem]">
            <%= artwork.description %>
          </div>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.artwork.tags")
        ) do %>
          <% if artwork.tags.empty? %>
            <%= tag.span t("messages.tag.empty"), class: "text-xs text-gray-500" %>
          <% else %>
            <% artwork.tags.each do |tag| %>
              <%= component "artwork/tag", tag: tag, path: nil %>
            <% end %>
          <% end %>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.artwork.is_public")
        ) do %>
          <% if artwork.is_public %>
            <%= t("artwork.published") %>
          <% else %>
            <i class="fa-solid fa-lock"></i>
            <%= t("artwork.private") %>
          <% end %>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.artwork.author")
        ) do %>
          <%= link_to author.display_name, admin_user_path(author.account_name), class: "font-bold text-blue-500 hover:underline" %>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.artwork_canvas.width")
        ) do %>
          <%= artwork.width_px %>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.artwork_canvas.height")
        ) do %>
          <%= artwork.height_px %>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.artwork.created_at")
        ) do %>
          <%= tag.span l(artwork.created_at) %><%= tag.span "(#{created_at_in_words(artwork)})", class: "text-gray-500 ml-1" %>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.artwork.updated_at")
        ) do %>
          <% if same_time?(artwork.created_at, artwork.updated_at, ignore_milliseconds: true) %>
            <%= tag.span "-" %>
          <% else %>
            <%= tag.span l(artwork.updated_at) %><%= tag.span "(#{updated_at_in_words(artwork)})", class: "text-gray-500 ml-1" %>
          <% end %>
        <% end %>

      <% end %>
    <% end %>

    <div class="mt-10 flex justify-evenly">
      <%= component(
        "shared/button",
        style: :outline,
        color: :gray,
        path: edit_admin_artwork_path(artwork, return_to: request.path),
        class: "w-32"
      ) do %>
        <%= component "utils/icon_text", fa_class: "fa-solid fa-sliders" do %>
          <%= t("artwork.edit") %>
        <% end %>
      <% end %>
      <%= component(
        "shared/button",
        style: :outline,
        color: :red,
        path: admin_artwork_path(artwork, return_to: request.referer),
        method: :delete,
        data: {
          confirm: "Are you sure?"
        },
        class: "w-32"
      ) do %>
        <%= component "utils/icon_text", fa_class: "fa-solid fa-trash-can" do %>
          <%= t("artwork.delete") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
