<%= component "shared/card", class: "my-10" do %>
  <h2 class="ml-6"><%= t("artwork.list") %></h2>
  <div class="overflow-auto">
    <%= component "shared/table/base" do %>
      <%= component "shared/table/header", headers: [
        "#",
        show_author ? t("activerecord.attributes.artwork.author") : nil,
        "",
        t("activerecord.attributes.artwork.image"),
        t("activerecord.attributes.artwork.title"),
        t("activerecord.attributes.artwork.description"),
        t("activerecord.attributes.artwork.tags"),
        "",
        "",
        "",
        ""
      ].compact %>
      <%= component "shared/table/body" do %>
        <% artworks.each do |artwork| %>
          <%= component "shared/table/row" do %>
            <%= component "shared/table/cell", is_header: true do %>
              <%= artwork.id %>
            <% end %>
            <% if show_author %>
              <%= component "shared/table/cell" do %>
                <%= link_to artwork.user.display_name, admin_user_path(artwork.user.account_name), class: "font-bold text-blue-500 hover:underline" %>
              <% end %>
            <% end %>
            <%= component "shared/table/cell" do %>
              <%= tag.i class: "fa-solid fa-lock text-xs" unless artwork.is_public %>
            <% end %>
            <%= component "shared/table/cell" do %>
              <%= component "artwork/image", artwork: artwork, size: :xxs %>
            <% end %>
            <%= component "shared/table/cell" do %>
              <% link_to artwork.title, admin_artwork_path(artwork), class: "font-bold text-blue-500 hover:underline" %>
            <% end %>
            <%= component "shared/table/cell" do %>
              <div class="truncate max-w-[24rem]">
                <%= artwork.description %>
              </div>
            <% end %>
            <%= component "shared/table/cell" do %>
              <div class="truncate max-w-[24rem]">
                <% artwork.tags.each do |tag| %>
                  <%= component "artwork/tag", tag: tag, path: nil %>
                <% end %>
              </div>
            <% end %>
            <%= component "shared/table/cell" do %>
              <%= component "interaction/like_count", count: artwork.likes.size %>
            <% end %>
            <%= component "shared/table/cell" do %>
              <%= component "interaction/comment_count", count: artwork.comments.size %>
            <% end %>
            <%= component "shared/table/cell" do %>
              <div class="grid place-items-center">
                <%= link_to edit_admin_artwork_path(artwork), class: "w-8 h-8 grid place-items-center rounded-sm transition-colors hover:bg-gray-200" do %>
                  <i class="fa-solid fa-sliders"></i>
                <% end %>
              </div>
            <% end %>
            <%= component "shared/table/cell" do %>
              <div class="grid place-items-center">
                <%= link_to admin_artwork_path(artwork), method: :delete, "data-confirm" => "Are you sure?", class: "w-8 h-8 grid place-items-center rounded-sm text-red-600 transition-colors hover:bg-red-100" do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= paginate artworks %>
<% end %>
