<div class="overflow-auto">
  <%= component "shared/table/base" do %>
    <%= component "shared/table/header", headers: [
      "#",
      show_author ? t("activerecord.attributes.artwork.author") : nil,
      "",
      t("activerecord.attributes.artwork.image"),
      t("activerecord.attributes.artwork.title"),
      t("activerecord.attributes.artwork.description"),
      t("activerecord.attributes.artwork.tags"),
      t("activerecord.attributes.artwork.likes"),
      t("activerecord.attributes.artwork.comments"),
      t("activerecord.attributes.artwork.created_at"),
      t("activerecord.attributes.artwork.updated_at"),
      "",
      ""
    ].compact %>
    <%= component "shared/table/body" do %>
      <%= render(
        partial: "admin/artworks/table_row",
        collection: artworks,
        as: :artwork,
        locals: { show_author: show_author }
      ) %>
    <% end %>
  <% end %>
</div>
<%= paginate artworks %>
