<%= component "shared/card", class: "my-10" do %>
  <%= render "admin/artworks/search_form" %>
<% end %>
<%= component "shared/card", class: "my-10" do %>
  <h2 class="ml-6"><%= t("artwork.list") %></h2>
  <div id="artworks" class="contents">
    <%= render "admin/artworks/table", artworks: @artworks, show_author: true %>
  </div>
<% end %>