<%= component "shared/card", class: "my-10 p-6" do %>
  <%= tag.h2 t("artwork.details") %>
  <div class="overflow-auto">
    <%= render "admin/artworks/details", artwork: @artwork, author: @author %>
  </div>
  <div class="mt-4 pt-4 border-t border-gray-300 space-y-1">
    <div>
      <%= link_to admin_artworks_path, class: "inline-flex items-center text-sm font-bold text-gray-600 transition-all no-underline hover:text-blue-500 hover:underline" do %>
        <%= component "utils/icon_text", fa_class: "fa-solid fa-chevron-left text-xs" do %>
          <%= t("artwork.list") %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= component "shared/card", class: "my-10" do %>
  <h2 class="ml-6"><%= t("comment.list") %></h2>
  <%= render "admin/comments/table", comments: @artwork_comments %>
<% end %>
