<%= component "shared/card", class: "my-10 p-6" do %>
  <%= tag.h2 t("artwork.details") %>
  <div class="overflow-auto">
    <%= render "admin/artworks/details", artwork: @artwork, author: @author %>
  </div>
  <div class="mt-4 pt-4 border-t border-gray-300 space-y-1">
    <div>
      <%= component "shared/back_link", path: admin_artworks_path, text: t("artwork.list") %>
    </div>
  </div>
<% end %>

<%= component "shared/card", class: "my-10" do %>
  <h2 class="ml-6"><%= t("comment.list") %></h2>
  <%= render "admin/comments/table", comments: @artwork_comments %>
<% end %>
