<%= component "shared/card", class: "my-10 p-6" do %>
  <%= tag.h2 t("artwork.edit_heading") %>
  <div class="mt-6 flex justify-center flex-col gap-y-8 lg:justify-evenly lg:flex-row lg:gap-0">
    <div class="flex justify-evenly items-center flex-col h-96">
      <%= component "artwork/image", artwork: @artwork, size: :xxl %>
      <%= component(
        "shared/button",
        style: :outline,
        color: :pink,
        path: editor_artwork_path(@artwork),
        class: "text-sm py-1 px-6",
        data: { turbolinks: false }
      ) do %>
        <%= t("artwork.edit") %>
      <% end %>
    </div>
    <div class="self-center w-96">
      <%= render "public/artworks/save_form", artwork: @artwork, text: t("artwork.update") %>
    </div>
  </div>
<% end %>
