$("#editor-container").html(`
<pixeleria-editor
  id="pixeleria-editor"
  artwidth="<%= @width %>"
  artheight="<%= @height %>"
  dotsize="<%= @dotsize %>"
></pixeleria-editor>
<div>
  <button id="save-artwork-button">
    <%= t("artwork.save") %>
  </button>
  <button id="post-artwork-button">
    <%= t("artwork.submit") %>
  </button>
</div>`);

{
  let artworkId = null;
  const editor = document.getElementById("pixeleria-editor");
  
  $(document.body).append(`<div id="artwork-confirm"></div>`);

  const onClickHandler = (url, callback = () => {}) => () => {
    const detail = editor.getDetails();
    
    $.ajax({
      url: url,
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({
        artwork_id: artworkId,
        image_data: detail.imageData,
        pixel_data: detail.pixelData.join(","),
        width: <%= @width %>,
        height: <%= @height %>,
      }),
      success(data) {
        if (data.status === "error") {
          alert("保存に失敗しました");
        } else {
          callback(data);
        }
      },
      error() {
        alert("通信エラーが発生しました");
      }
    });
  };

  $("#post-artwork-button").on(
    "click",
    onClickHandler("/artworks/confirm_upload")
  );

  $("#save-artwork-button").on(
    "click",
    onClickHandler("/artworks/save", (data) => {
      if (data !== "error" && !artworkId) {
        artworkId = data.artwork_id;
      }
    })
  );
}