$("#editor-container").html(`
<pixeleria-editor
  id="pixeleria-editor"
  artwidth="<%= @width %>"
  artheight="<%= @height %>"
  dotsize="<%= @dotsize %>"
></pixeleria-editor>
<div>
  
</div>
`);

{
  let artworkId = null;

  $("#pixeleria-editor").on("save", function(e) {
    const detail = e.detail;

    $.ajax({
      url: "/artworks/save",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({
        artworkId: artworkId,
        image_data: detail.imageData,
        pixel_data: detail.pixelData.join(","),
        width: <%= @width %>,
        height: <%= @height %>,
      }),
      success(data) {
        if (data.status === "ok") {
          if (!artworkId) {
            artworkId = data.artwork_id;
          }
          alert("保存しました");
        } else {
          alert("保存に失敗しました");
        }
      },
      error() {
        alert("通信エラーが発生しました");
      }
    });
  });
}