<section class="m-4">
  <div>
    <%= @artwork.pixel_data %>
  </div>
  <div>
    <div class="font-medium text-lg">
      <%= @artwork.title %>
    </div>
    <div>
      <% @artwork.tags.each do |tag| %>
        <span><%= tag %></span>
      <% end %>
    </div>
  </div>
  <p>
    <%= @artwork.description %>
  </p>
</section>

<section class="m-4">
  <div>
    <div>
      <%= image_tag "" %>
      <div>
        <!-- フォローボタン -->
      </div>
    </div>
    <div>
      <%= link_to user_profile_path(@author.account_name), class: "hover:underline" do %>
        <%= @author.display_name %>
      <% end %>
    </div>
    <p>
      <%= @author.introduction %>
    </p>
  </div>
  <%= render "list", artworks: @author.artworks %>
</section>
