<section class="my-6 p-6 bg-white shadow-xl rounded-sm lg:flex">
  <div class="grow flex justify-center flex-col space-y-2">
    <div class="self-center">
      <%= image_tag @artwork.image, size: "512x512", style: "image-rendering: pixelated" %>
    </div>
    <div class="flex">
      <div class="grow">
        <div>
          <%= tag.div @artwork.title, class: "font-bold text-lg" %>
          <div>
            <% @artwork.tags.each do |tag| %>
              <span class="text-sm inline-block"><%= tag.name %></span>
            <% end %>
          </div>
        </div>
        <p class="min-h-[3rem]">
          <%= @artwork.description %>
        </p>
      </div>
      <div>
        <% if @author == current_user %>
          <%= render Shared::KebabComponent.new do %>
            <menu class="text-sm">
              <li>
                <%= link_to artwork_path(@artwork), method: :delete, "data-confirm" => "Are you sure?", class: "block text-red-500 font-bold py-2 px-7 duration-50 transition-colors hover:bg-red-400/10" do %>
                  <span class="whitespace-nowrap"><i class="fa-solid fa-trash-can mr-2"></i>Delete</span>
                <% end %>
              </li>
              <li></li>
              <li></li>
            </menu>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="py-3 flex justify-evenly border-y">
      <%= tag.div id: "like-#{@artwork.id}" do %>
        <%= render Interaction::LikeButtonComponent.new(
          artwork: @artwork,
          current_user: current_user
        ) %>
      <% end %>
      <%= tag.div id: "comment-count-#{@artwork.id}" do %>
        <%= render Interaction::CommentCountComponent.new(count: @artwork_comments.size) %>
      <% end %>
    </div>
  </div>

  <div class="w-full mt-3 lg:w-96 lg:mt-0">
    <%= render "public/comments/form", artwork: @artwork, comment: Comment.new %>
    <%= tag.div id: "comment-list-of-#{@artwork.id}" do %>
      <%= render "public/comments/list", comments: @artwork_comments %>
    <% end %>
  </div>
</section>

<%= render "public/users/info", user: @author, artworks: @authors_other_artworks %>
