<%= component "shared/card", class: "my-10 p-6 lg:flex" do %>
  <div class="grow flex justify-center flex-col space-y-2 mx-0 lg:mx-24 xl:mx-32 2xl:mx-40">
    <div class="self-center">
      <%= image_tag @artwork.image, size: "512x512", style: "image-rendering: pixelated" %>
    </div>
    <div class="flex">
      <div class="grow">
        <div>
          <%= tag.div @artwork.title, class: "font-bold text-lg" %>
          <div>
            <% @artwork.tags.each do |tag| %>
              <span class="text-sm inline-block"><%= tag.name %></span>
            <% end %>
          </div>
        </div>
        <p class="min-h-[3rem]">
          <%= @artwork.description %>
        </p>
      </div>
      <div>
        <% if @author == current_user %>
          <%= render Shared::KebabComponent.new do %>
            <menu class="py-1 text-sm">
              <li>
                <div class="block w-32 duration-50 transition-colors hover:bg-gray-400/10">
                  <%= link_to edit_artwork_path(@artwork), class: "grid items-center w-full h-full" do %>
                    <%= component "utils/icon_text", fa_class: "fa-solid fa-pen", class: "py-2 px-3" do %>
                      <%= t("artwork.edit") %>
                    <% end %>
                  <% end %>
                </div>
              </li>
              <li>
                <div class="block w-32 duration-50 transition-colors hover:bg-gray-400/10 text-red-500 hover:bg-red-400/10">
                  <%= link_to artwork_path(@artwork), method: :delete, "data-confirm" => "Are you sure?", class: "grid items-center w-full h-full" do %>
                    <%= component "utils/icon_text", fa_class: "fa-solid fa-trash-can", class: "py-2 px-3" do %>
                      <%= t("artwork.delete") %>
                    <% end %>
                  <% end %>
                </div>
              </li>
            </menu>
          <% end %>
        <% elsif current_user&.is_guest == false %>
          <%= render Shared::KebabComponent.new do %>
            <menu class="py-1 text-sm">
              <li>
                <div class="block w-32 duration-50 transition-colors hover:bg-gray-400/10">
                  <%= render "public/reports/btn", target: :artwork, target_id: @artwork.id %>
                </div>
              </li>
            </menu>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="py-3 flex justify-evenly border-y">
      <%= tag.div id: "like-#{@artwork.id}" do %>
        <% if user_signed_in? %>
          <%= component "interaction/like_button", artwork: @artwork, current_user: current_user %>
        <% else %>
          <%= component "interaction/like_count", count: @artwork.likes.size %>
        <% end %>
      <% end %>
      <%= tag.div id: "comment-count-#{@artwork.id}" do %>
        <%= component "interaction/comment_count", count: @artwork_comments.size %>
      <% end %>
    </div>
  </div>
  <div class="w-full mt-6 lg:w-96 lg:mt-0">
    <%= render "public/comments/form", artwork: @artwork, comment: Comment.new %>
    <%= tag.div id: "comment-list-of-#{@artwork.id}" do %>
      <%= render "public/comments/list", comments: @artwork_comments %>
    <% end %>
  </div>
<% end %>

<%= render "public/users/info", user: @author, artworks: @authors_other_artworks %>
