<section class="my-6 p-6 bg-white shadow-xl rounded-sm lg:flex">
  <div class="grow flex justify-center flex-col space-y-2">
    <div class="self-center">
      <%= image_tag @artwork.image, size: "512x512", style: "image-rendering: pixelated" %>
    </div>
    <div>
      <%= tag.div @artwork.title, class: "font-medium text-lg" %>
      <div>
        <% @artwork.tags.each do |tag| %>
          <span><%= tag %></span>
        <% end %>
      </div>
    </div>
    <p>
      <%= @artwork.description %>
    </p>
    <hr>
    <div class="py-1 flex justify-evenly">
      <%= tag.div id: "like-#{@artwork.id}" do %>
        <%= render Interaction::LikeButtonComponent.new(
          artwork: @artwork,
          current_user: current_user
        ) %>
      <% end %>
      <%= tag.div id: "comment-count-#{@artwork.id}" do %>
        <%= render Interaction::CommentCountComponent.new(count: @artwork_comments.size) %>
      <% end %>
    </div>
    <hr>
  </div>

  <div class="w-full mt-3 lg:w-96 lg:mt-0">
    <%= render "public/comments/form", artwork: @artwork, comment: Comment.new %>
    <%= tag.div id: "comment-list-of-#{@artwork.id}" do %>
      <%= render "public/comments/list", comments: @artwork_comments %>
    <% end %>
  </div>
</section>

<%= render "public/users/info", user: @author, artworks: @authors_other_artworks %>
