<%= component "shared/card", class: "my-10 p-6 lg:flex" do %>
  <div class="grow flex justify-center flex-col space-y-2 mx-0 lg:mx-24 xl:mx-32 2xl:mx-40">
    <div class="self-center">
      <%= component "artwork/image", artwork: @artwork, size: :xxxxl %>
    </div>
    <div class="flex">
      <div class="grow space-y-2">
        <div class="flex items-center space-x-2">
          <% if @artwork.is_public %>
            <%= tag.div @artwork.title, class: "font-bold text-lg" %>
          <% else %>
            <i class="fa-solid fa-lock"></i>
            <%= tag.div @artwork.title, class: "font-bold text-lg" %>
          <% end %>
        </div>
        <div class="flex gap-2">
          <% @artwork.tags.each do |tag| %>
            <%= component "artwork/tag", tag: tag, path: artworks_path(tag: tag.name) %>
          <% end %>
        </div>
        <p class="min-h-[5rem]">
          <%= @artwork.description %>
        </p>
      </div>
      <div>
        <% if @author == current_user %>
          <%= component "shared/kebab/base" do %>
            <%= component "shared/kebab/menu_item", path: edit_artwork_path(@artwork) do %>
              <%= component "utils/icon_text", fa_class: "fa-solid fa-pen", class: "py-2 px-3" do %>
                <%= t("artwork.edit") %>
              <% end %>
            <% end %>
            <%= component "shared/kebab/menu_item", path: artwork_path(@artwork), color: :red, method: :delete, "data-confirm" => "Are you sure?" do %>
              <%= component "utils/icon_text", fa_class: "fa-solid fa-pen", class: "py-2 px-3" do %>
                <%= t("artwork.delete") %>
              <% end %>
            <% end %>
          <% end %>
        <% elsif current_user&.is_guest == false %>
          <%= component "shared/kebab/base" do %>
            <%= component "shared/kebab/menu_item", path: nil do %>
              <%= render "public/reports/btn", target: :artwork, target_id: @artwork.id %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="py-3 flex justify-evenly border-y">
      <%= tag.div id: "like-#{@artwork.id}" do %>
        <% if user_signed_in? %>
          <%= component "interaction/like_button", artwork: @artwork, current_user: current_user %>
        <% else %>
          <%= component "interaction/like_count", count: @artwork.likes.size %>
        <% end %>
      <% end %>
      <%= tag.div id: "comment-count-#{@artwork.id}" do %>
        <%= component "interaction/comment_count", count: @artwork_comments.size %>
      <% end %>
    </div>
  </div>
  <div class="w-full mt-6 lg:min-w-[24rem] lg:w-[24rem] lg:mt-0">
    <%= render "public/comments/form", artwork: @artwork, comment: Comment.new %>
    <%= tag.div id: "comment-list-of-#{@artwork.id}" do %>
      <%= render "public/comments/list", comments: @artwork_comments %>
    <% end %>
  </div>
<% end %>

<%= component "shared/card", class: "my-10 p-6" do %>
  <%= render "public/users/info", user: @author, artworks: @authors_other_artworks %>
<% end %>
