<%= component "shared/table_section", title: t("report.list") do %>
  <%= component "shared/table" do %>
    <%= component "shared/table_header", headers: [
      "#",
      "",
      t("models.report.reported_by_user_id"),
      t("models.report.reportable_type"),
      t("models.report.reason"),
      t("models.report.description"),
      t("models.report.status"),
    ].compact %>
    <%= component "shared/table_body" do %>
      <% reports.each do |report| %>
        <%
          reported_user = report.reported_by_user
        %>
        <%= component "shared/table_row" do %>
          <%= component "shared/table_cell", is_header: true do %>
            <%= report.id %>
          <% end %>
          <%= component "shared/table_cell" do %>
            <%= component "report/read_label", is_read: report.is_read %>
          <% end %>
          <%= component "shared/table_cell" do %>
            <%= link_to reported_user.display_name, admin_user_path(reported_user.account_name), class: "font-bold text-blue-500 hover:underline" %>
          <% end %>
          <%= component "shared/table_cell" do %>
            <%= link_to t("report.target.#{report.reportable_type.downcase}"), admin_report_path(report.id), class: "font-bold text-blue-500 hover:underline" %>
          <% end %>
          <%= component "shared/table_cell" do %>
            <%= report.reason_i18n %>
          <% end %>
          <%= component "shared/table_cell" do %>
            <div class="truncate max-w-[24rem]">
              <%= report.description %>
            </div>
          <% end %>
          <%= component "shared/table_cell" do %>
            <%= component "report/status_label", status: report.status_before_type_cast, text: report.status_i18n %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= paginate reports %>
<% end %>