<%= component "shared/card", class: "my-10" do %>
  <h2 class="ml-6"><%= t("report.details") %></h2>
  <%= render "admin/reports/details", report: @report %>
  <h2 class="ml-6"><%= t("report.target_details.reported_#{@report.reportable_type.downcase}_details") %></h2>
  <div class="p-6">
    <% case @report.reportable_type %>
    <% when "User" %>
      <%= render "admin/users/details", user: @report.reportable %>
    <% when "Artwork" %>
      <%= render "admin/artworks/details", artwork: @report.reportable, author: @report.reportable.user %>
    <% when "Comment" %>
      <%= render "admin/comments/details", comment: @report.reportable %>
    <% end %>
    <div class="mt-4 pt-4 border-t border-gray-300 space-y-1">
      <div>
        <%= component "shared/back_link", path: admin_reports_path, text: t("report.list") %>
      </div>
    </div>
  </div>
<% end %>
