<%= form_with(
  url: admin_artworks_path,
  method: :get,
  remote: true,
  local: false,
  id: "search-form",
  data: { action: "ajax:success->admin-user-search#updateResults", "admin-user-search-target": "form" }
) do |f| %>
  <div class="grid gap-y-3">
    <%= render Artwork::Admin::Search::StatusComponent.new(form: f) %>
    <%= render Artwork::Admin::Search::QueryComponent.new(form: f) %>

    <div class="flex justify-center items-center">
      <%= render Shared::ButtonComponent.new(
        style: :solid,
        color: :sky,
        type: :submit,
        class: "px-4 py-1 text-sm"
      ) do %>
        <%= t("artwork.searches.search") %>
      <% end %>
    </div>
  </div>
<% end %>
