<div class="p-6 flex flex-col gap-4 lg:flex-row">
  <div class="flex justify-center items-center mx-16 shrink-0">
    <%= component "user/avatar", user: user, size: :xl %>
  </div>
  <div class="overflow-auto grow">
    <%= component "shared/table/base" do %>
      <%= component "shared/table/body" do %>
        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.user.display_name")
        ) do %>
          <%= user.display_name %>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.user.account_name")
        ) do %>
          <%= user.account_name %>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.user.introduction")
        ) do %>
          <div class="whitespace-normal max-w-[32rem]">
            <%= user.introduction %>
          </div>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.user.status")
        ) do %>
          <%= component "user/status_label", status: user.status_before_type_cast, text: user.status_i18n %>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.user.created_at")
        ) do %>
          <%= tag.span l(user.created_at) %><%= tag.span "(#{created_at_in_words(user)})", class: "text-gray-500 ml-1" %>
        <% end %>

        <%= component(
          "shared/details_row",
          heading: t("activerecord.attributes.user.updated_at")
        ) do %>
          <% if same_time?(user.created_at, user.updated_at, ignore_milliseconds: true) %>
            <%= tag.span "-" %>
          <% else %>
            <%= tag.span l(user.updated_at) %><%= tag.span "(#{updated_at_in_words(user)})", class: "text-gray-500 ml-1" %>
          <% end %>
        <% end %>

      <% end %>
    <% end %>

    <div class="mt-10 flex justify-evenly">
      <%= component(
        "shared/button",
        style: :outline,
        color: :gray,
        path: admin_edit_user_path(user.account_name),
        class: "w-32"
      ) do %>
        <%= component "utils/icon_text", fa_class: "fa-solid fa-sliders" do %>
          <%= t("user.edit") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
