<div data-controller="accordion">
  <div class="px-6 py-4 flex justify-between items-center font-bold text-lg bg-gray-200">
    <div class="inline-block">
      <%= component("utils/icon_text", fa_class: "fa-solid fa-magnifying-glass") do %>
        <%= t("user.searches.heading") %>
      <% end %>
    </div>
    <button class="w-10 h-10 rounded-sm transition-colors hover:bg-gray-100" data-accordion-target="button" data-action="accordion#toggle">
      <i class="fa-solid fa-chevron-down transition-transform duration-500" data-accordion-target="chevron"></i>
    </button>
  </div>
  <div class="overflow-hidden transition-[height] duration-500" style="height: 0px;" data-accordion-target="content">
    <div class="mx-auto mt-6 mb-2 w-96" data-controller="admin-user-search">
      <%= form_with url: admin_users_path, method: :get, remote: true, local: false, id: "search-form", data: { action: "ajax:success->admin-user-search#updateResults", "admin-user-search-target": "form" } do |f| %>
        <div class="grid gap-y-3">
          <div>
            <%= component "shared/form/label", form: f, field: :status, text: t("user.searches.status") %>
            <%= component(
              "shared/form/select",
              form: f,
              field_name: :status,
              choices: user_status_options,
              selected: params[:status],
              include_blank: t("shared.all"),
              size: :small,
            ) %>
          </div>
          <div>
            <%= component "shared/form/label", form: f, field: :query, text: t("user.searches.query") %>
            <%= component(
              "shared/form/text_field",
              form: f,
              field_type: :text_field,
              field_name: :query,
              size: :small,
              value: @query,
              placeholder: t("user.searches.query_placeholder")
            ) %>
          </div>
          <div class="flex justify-center items-center">
            <%= component(
              "shared/button",
              style: :solid,
              color: :sky,
              type: :submit,
              class: "px-4 py-1 text-sm"
            ) do %>
              <%= t("user.searches.search") %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
