<div class="overflow-auto">
  <%= component "shared/table/base" do %>
    <%= component "shared/table/header", headers: [
      "#",
      "",
      t("activerecord.attributes.user.display_name"),
      t("activerecord.attributes.user.account_name"),
      t("activerecord.attributes.user.introduction"),
      t("activerecord.attributes.user.status"),
      t("activerecord.attributes.user.created_at"),
      t("activerecord.attributes.user.updated_at"),
      ""
    ] %>
    <%= component "shared/table/body" do %>
      <%= render partial: "admin/users/table_row", collection: users, as: :user %>
    <% end %>
  <% end %>
</div>
<%= paginate users %>
