<div>
  <h1 class="font-bold text-4xl">Admin::Users#index</h1>
  <p>Find me in app/views/admin/users/index.html.erb</p>
  <div class="overflow-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-200">
        <tr>
          <th scope="col" class="px-6 py-2 text-start whitespace-nowrap">
            <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
              <%= "#" %>
            </span>
          </th>
          <th scope="col" class="px-6 py-2 text-start whitespace-nowrap">
            <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
              <%= t("activerecord.attributes.user.display_name") %>
            </span>
          </th>
          <th scope="col" class="px-6 py-2 text-start whitespace-nowrap">
            <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
              <%= t("activerecord.attributes.user.account_name") %>
            </span>
          </th>
          <th scope="col" class="px-6 py-2 text-start whitespace-nowrap">
            <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
              <%= t("activerecord.attributes.user.introduction") %>
            </span>
          </th>
          <th scope="col" class="px-6 py-2 text-start whitespace-nowrap">
            <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
              <%= t("activerecord.attributes.user.status") %>
            </span>
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @users.each do |user| %>
          <tr>
            <th class="h-px w-px whitespace-nowrap px-6 py-2">
              <span class="text-sm text-gray-800">
                <%= user.id %>
              </span>
            </th>
            <td class="h-px w-px whitespace-nowrap px-6 py-2">
              <span class="text-sm text-gray-800">
                <%= user.display_name %>
              </span>
            </td>
            <td class="h-px w-px whitespace-nowrap px-6 py-2">
              <span class="text-sm text-gray-800">
                <%= user.account_name %>
              </span>
            </td>
            <td class="h-px w-px whitespace-nowrap px-6 py-2">
              <span class="text-sm text-gray-800">
                <%= user.introduction %>
              </span>
            </td>
            <td class="h-px w-px whitespace-nowrap px-6 py-2">
              <span class="text-sm text-gray-800">
                <%= user.status %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
