<div>
  <table>
    <tbody>
      <tr>
        <th><%= t("activerecord.attributes.user.display_name") %></th>
        <td><%= @user.display_name %></td>
      </tr>
      <tr>
        <th><%= t("activerecord.attributes.user.account_name") %></th>
        <td><%= @user.account_name %></td>
      </tr>
      <tr>
        <th><%= t("activerecord.attributes.user.introduction") %></th>
        <td><%= @user.introduction %></td>
      </tr>
      <tr>
        <th><%= t("activerecord.attributes.user.status") %></th>
        <td><%= @user.status %></td>
      </tr>
    </tbody>
  </table>

  <div class="my-4">
    <div>
      <%= t("artwork.list") %>
    </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>
            <%= t("models.artwork.image") %>
          </th>
          <th>
            <%= t("models.artwork.title") %>
          </th>
          <th>
            <%= t("models.artwork.description") %>
          </th>
          <th>
            <%= t("models.artwork.tag") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @user.artworks.each do |artwork| %>
        <tr>
          <td>
            <%= artwork.id %>
          </td>
          <td>
            <%= image_tag artwork.image, size: "32x32", style: "image-rendering: pixelated;" %>
          </td>
          <td>
            <%= artwork.title %>
          </td>
          <td>
            <%= artwork.description %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
