<%= render Layout::AuthFormComponent.new(
  heading: t("devise.shared.sign_in")
) do %>
  <%= form_with(
    model: resource,
    url: session_path(resource_name),
    local: true
  ) do |f| %>
    <div class="grid gap-y-4">
      <div>
        <%= f.label :email, class: "block text-sm font-bold mb-2" %>
        <%= render Shared::TextFieldComponent.new(
          form: f,
          field_type: :email_field,
          field_name: :email,
          autofocus: true,
          autocomplete: "email"
        ) %>
      </div>
      <div>
        <%= f.label :password, class: "block text-sm font-bold mb-2" %>
        <%= render Shared::TextFieldComponent.new(
          form: f,
          field_type: :password_field,
          field_name: :password,
          autocomplete: "current-password"
        ) %>
        <% if devise_mapping.rememberable? %>
          <div class="mt-2 text-sm">
            <%= render Shared::CheckboxComponent.new(
              form: f,
              field_name: :remember_me,
              label_text: t("activerecord.attributes.user.remember_me")
            ) %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mt-4 flex justify-center items-center">
      <%= render Shared::ButtonComponent.new(
        style: :solid,
        color: :sky,
        type: "submit",
        class: "w-36 h-10"
      ) do %>
        <%= t("devise.shared.sign_in") %>
      <% end %>
    </div>
  <% end %>

  <div class="py-3 flex items-center text-xs text-gray-400 uppercase before:flex-[1_1_0%] before:border-t before:border-gray-200 before:me-6 after:flex-[1_1_0%] after:border-t after:border-gray-200 after:ms-6">or</div>

  <div class="flex justify-center items-center">
    <%= render Shared::ButtonComponent.new(
      style: :solid,
      color: :slate,
      path: guest_sign_in_path,
      method: :post,
      class: "w-36 h-10"
    ) do %>
      <%= t("devise.shared.guest_sign_in") %>
    <% end %>
  </div>

  <p class="mt-4 text-gray-600 text-sm">
    <%= link_to t("messages.user.auth.registration_guide"), new_registration_path(resource_name), class: "text-blue-600 font-bold hover:underline" %>
  </p>
<% end %>