<section class="border-b border-gray-300">
  <% if current_user&.is_guest == false && current_user != user %>
    <div class="flex justify-end lg:h-0">
      <%= render Shared::KebabComponent.new do %>
        <menu class="py-1 text-sm">
          <li>
            <div class="block py-2 px-3 w-32 duration-50 transition-colors hover:bg-gray-400/10">
              <%= render "public/reports/btn", target: :user, target_id: user.id %>
            </div>
          </li>
        </menu>
      <% end %>
    </div>
  <% end %>
  <div class="grid grid-cols-1 items-center lg:grid-cols-3">
    <div class="grid grid-cols-3 text-center">
      <%= component(
        "user/stat_link",
        user: user,
        stat_type: :followers,
        count: user.followers.size
      ) %>
      <%= component(
        "user/stat_link",
        user: user,
        stat_type: :followings,
        count: user.followings.size
      ) %>
      <%= component(
        "user/stat_link",
        user: user,
        stat_type: :artworks,
        count: user_artworks.size
      ) %>
    </div>
    <div class="flex justify-center items-center p-4">
      <%= component "user/avatar", user: user, size: :xl %>
    </div>
    <div class="flex justify-center items-center">
      <% if user == current_user %>
        <%= component(
          "shared/button",
          style: :solid,
          color: :gray,
          path: edit_user_profile_path(user.account_name),
          class: "w-32 text-sm"
        ) do %>
          <i class="fa-solid fa-user-pen"></i><span class="ml-2"><%= t("user.edit") %></span>
        <% end %>
      <% else %>
        <%= tag.div id: "follow-of-#{user.account_name}" do %>
          <%= component "interaction/follow_button", user: user, current_user: current_user %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mt-16 text-center pb-12">
    <%= component "user/name_link", user: user, size: :xxl %>
    <%= tag.p user.introduction, class: "mx-auto w-[44rem] max-w-full text-left whitespace-pre-line" %>
  </div>
</section>
