<section class="border-b border-gray-300">
  <% if user_signed_in? && current_user != user %>
    <div class="flex justify-end lg:h-0">
      <%= component "shared/kebab/base" do %>
        <%= component "shared/kebab/menu_item", path: nil do %>
          <%= render "public/reports/btn", target: :user, target_id: user.id %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="grid grid-cols-1 items-center lg:grid-cols-3">
    <div class="grid grid-cols-3 text-center">
      <%= component(
        "user/stat_link",
        user: user,
        stat_type: :followers,
        count: user.followers.size
      ) %>
      <%= component(
        "user/stat_link",
        user: user,
        stat_type: :followings,
        count: user.followings.size
      ) %>
      <%= component(
        "user/stat_link",
        user: user,
        stat_type: :artworks,
        count: user_artworks.size
      ) %>
    </div>
    <div class="flex justify-center items-center p-4">
      <%= component "user/avatar", user: user, size: :lg %>
    </div>
    <div class="flex justify-center items-center">
      <% if current_user == user %>
        <%= component(
          "shared/button",
          style: :solid,
          color: :gray,
          path: edit_user_profile_path(user.account_name),
          class: "w-32 text-sm"
        ) do %>
          <% component "utils/icon_text", fa_class: "fa-solid fa-user-pen" do %>
            <%= t("user.edit") %>
          <% end %>
        <% end %>
        <%= component(
          "shared/button",
          style: :solid,
          color: :gray,
          path: :user_my_artworks,
          class: "w-32 text-sm"
        ) do %>
          <% component "utils/icon_text", fa_class: "fa-solid fa-palette" do %>
            <%= t("user.my_artworks") %>
          <% end %>
        <% end %>
      <% else %>
        <%= tag.div id: "follow-of-#{user.account_name}" do %>
          <%= component "interaction/follow_button", user: user, current_user: current_user %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mt-16 text-center pb-12">
    <%= component "user/name_link", user: user, size: :xxl %>
    <%= tag.p user.introduction, class: "mx-auto w-[32rem] max-w-full text-left whitespace-pre-line" %>
  </div>
</section>
