<section>
  <div>user edit</div>
  <%= form_with model: @user, url: update_user_profile_path, local: true do |f| %>
    <fieldset>
      <%= f.file_field :profile_image, accept: "image/*" %>
    </fieldset>
    <fieldset>
      <%= f.label t("activerecord.attributes.user.display_name") %>
      <%= f.text_field :display_name, class: "block" %>
    </fieldset>
    <fieldset>
      <%= f.label t("activerecord.attributes.user.account_name") %>
      <%= f.text_field :account_name, class: "block" %>
    </fieldset>
    <fieldset>
      <%= f.label t("activerecord.attributes.user.introduction") %>
      <%= f.text_area :introduction, class: "block" %>
    </fieldset>

    <%= f.submit "Save" %>
  <% end %>
</section>