<%= component "shared/card", class: "my-10 p-6" do %>
  <div class="mt-6 mx-auto max-w-[32rem]">
    <%= tag.h2 t("user.edit_heading")%>

    <%= form_with model: @user, url: update_user_profile_path, local: true do |f| %>
      <div class="grid gap-y-4">
        <div>
          <%= component "shared/form/label", form: f, field: :email %>
          <div class="text-gray-500 text-sm mx-4">
            <%= @user.is_guest ? t("messages.user.guest.email_not_displayed") :@user.email %>
          </div>
        </div>

        <div>
          <%= component "shared/form/label", form: f, field: :profile_image %>
          <%= component "shared/form/file_input", form: f, field_name: :profile_image, image: @user.get_profile_image %>
        </div>

        <div>
          <%= component "shared/form/label", form: f, field: :display_name %>
          <%= component(
            "shared/form/text_field",
            form: f,
            field_type: :text_field,
            field_name: :display_name,
            size: :small,
            model: @user,
            placeholder: t("placeholder.user.display_name"),
            maxlength: User.max_display_name_length
          ) %>
        </div>

        <div>
          <%= component "shared/form/label", form: f, field: :account_name %>
          <%= component(
            "shared/form/text_field",
            form: f,
            field_type: :text_field,
            field_name: :account_name,
            size: :small,
            model: @user,
            placeholder: t("placeholder.user.account_name"),
            maxlength: User.max_account_name_length,
          ) %>
        </div>

        <div>
          <%= component "shared/form/label", form: f, field: :introduction %>
          <%= component(
            "shared/form/text_area",
            form: f,
            field_name: :introduction,
            rows: 12,
            model: @user,
            placeholder: t("placeholder.user.introduction", count: User.max_introduction_length),
            maxlength: User.max_introduction_length
          ) %>
        </div>

        <div class="mt-4 flex justify-center items-center">
          <%= component(
            "shared/button",
            style: :outline,
            color: :sky,
            type: :submit,
            class: "w-36 h-10"
          ) do %>
            <%= t("user.save") %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% unless @user.is_guest %>
      <div class="text-right mt-4">
        <%= link_to confirm_deactivation_path, class: "text-sm hover:text-blue-500" do %>
          アカウントを削除する
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
