<%= component "shared/card", class: "my-10 px-6" do %>
  <%= tag.h2 t("artwork.liked_list") %>
  <div class="flex items-center space-x-2">
    <%= component "user/avatar", user: @user, size: :sm %>
    <%= component "user/name_link", user: @user, size: :sm %>
  </div>
  <section class="py-6 px-2">
    <% if @user_liked_artworks.size > 0 %>
      <%= render "public/artworks/list", artworks: @user_liked_artworks %>
    <% else %>
      <%= tag.p t("messages.user.artworks.no_liked_artworks"), class: "m-5 text-center text-gray-500 text-sm" %>
    <% end %>
  </section>
<% end %>
