<%= component "shared/card", class: "my-10 p-6" do %>
  <%= render "public/users/profile", user: @user, user_artworks: @user_artworks %>

  <div class="w-full flex justify-start items-center text-sm border-b border-gray-300">
    <%= link_to user_artworks_path(@user.account_name), remote: true, class: "inline-block px-5 py-3 no-underline duration-100 hover:bg-gray-100" do %>
      <%= "投稿した作品" %>
    <% end %>
    <%= link_to user_liked_artworks_path(@user.account_name), remote: true, class: "inline-block px-5 py-3 no-underline duration-100 hover:bg-gray-100" do %>
      <%= "いいねした作品" %>
    <% end %>
  </div>

  <section class="mt-6 py-6 px-2" id="artworks">
    <%= render(
      "public/users/artworks",
      artworks: @user_artworks,
      more_link: user_artworks_path(@user.account_name),
      not_found_text: t("messages.user.artworks.no_artworks")
    ) %>
  </section>
<% end %>
