<%= render Layout::HeaderComponent.new(admin_signed_in: admin_signed_in?, nav_items: nav_items) %>
<%= render Layout::SidebarComponent.new(
  admin_signed_in: admin_signed_in?,
  items: sidebar_items
) %>
<%= tag.main class: ("pt-20 h-auto lg:ml-64" if admin_signed_in?) do %>
  <div class="max-w-[1920px] mx-auto px-3">
    <%= yield %>
  </div>
<% end %>
<%= render Layout::FooterComponent.new %>
<%= render "layouts/alert" %>
<%= render Layout::ModalComponent.new %>
