<!DOCTYPE html>
<html>
  <head>
    <title>Pixeleria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0e5135d470.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-slate-50">
    <%= render "layouts/header" %>
    <%= render "layouts/alert" %>
    <% if admin_signed_in? %>
      <%= render "layouts/sidebar" %>
      <div class="pt-20 h-auto lg:ml-64">
        <main class="max-w-[1920px] mx-auto px-3">
          <%= yield %>
        </main>
      </div>
    <% else %>
      <div class="pt-20">
        <main class="max-w-[1920px] mx-auto px-3">
          <%= yield %>
        </main>
      </div>
    <% end %>
    <%= render "layouts/footer" %>
  </body>
</html>
